@{
    ViewBag.Title = "Home Page";
}

<div class="text-left">
    <h1 class="display-4" style="font-size:18px">Weather Forecast for Belfast</h1>
    @foreach (var forecast in Model)
    {
        <div>
            <p>@forecast.applicable_date</p>
            <div>Min: @forecast.min_temp Cº, Max: @forecast.max_temp Cº</div>
            <div>@forecast.weather_state_name</div>
            <img src="https://www.metaweather.com/static/img/weather/@(forecast.weather_state_abbr).svg" style="width:32px" />
            <hr />
        </div>
    }
</div>

<script>
    var mouseY = 0;
    var startMouseY = 0;
    $('body').on('mousedown', function (ev) {
        mouseY = ev.pageY;
        startMouseY = mouseY;
        $(document).mousemove(function (e) {
            if (e.pageY > mouseY) {
                var d = e.pageY - startMouseY
                console.log("d: " + d);
                if (d >= 200)
                    location.reload();
                $('body').css('margin-top', d / 4 + 'px');
            }
            else
                $(document).unbind("mousemove");
        });
    });
    $('body').on('mouseup', function () {
        $('body').css('margin-top', '0px');
        $(document).unbind("mousemove");
    });
    $('body').on('mouseleave', function () {
        $('body').css('margin-top', '0px');
        $(document.unbind).("mousemove");
    });
</script>